@model List<Application.Models.Document>

@{
    Layout = null;
    
    // ViewData 사용법
    var member = ViewData["Member"] as Application.Models.Member;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div> 
        <p>
            @*ViewBag, ViewData 동일*@
            @ViewBag.Member.Name 님 환영합니다.
        </p>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Document_Nubmer</td>
                        <td>@item.Title</td>
                        <td>@item.Writer</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
