<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Layouts/SpecialLayout/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
        레이아웃의 상단부
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        레이아웃의 하단부
    </footer>
</body>
</html>
